<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.equestria.criticalskills.criticalskills.mapper.userMapper.UserMapper">


    <update id="updateInUser"
            parameterType="com.equestria.criticalskills.criticalskills.pojo.userPojo.userEntity.User">
            UPDATE user_info
            <set>
                <if test="username != null">username = #{username},</if>
                <if test="age != null">age = #{age},</if>
                <if test="gender != null">gender = #{gender},</if>
                <if test="birthDate != null">birth_date = #{birthDate},</if>
                <if test="email != null">email = #{email},</if>
                <if test="phone != null">phone = #{phone},</if>
                <if test="qq != null">qq = #{qq},</if>
                <if test="province != null">province = #{province},</if>
                <if test="city != null">city = #{city},</if>
                <if test="introduction != null">introduction = #{introduction},</if>
                update_time = NOW(),
            </set>
            WHERE id = #{id}
    </update>
    <update id="updateInAccount"
            parameterType="com.equestria.criticalskills.criticalskills.pojo.userPojo.userEntity.User">
        UPDATE account
        <set>
        <if test="username != null">username = #{username},</if>
            update_time = NOW(),
        </set>
        WHERE id = #{id}
    </update>

    <update id="clearUserFields" parameterType="java.lang.Long">
        UPDATE user_info
        SET
            age = NULL,
            gender = NULL,
            video = NULL,
            birth_date = NULL,
            email = NULL,
            phone = NULL,
            qq = NULL,
            province = NULL,
            city = NULL,
            avator = NULL,
            photo = NULL,
            introduction = NULL
        WHERE id = #{id}
    </update>

    <update id="updateAvator">
        UPDATE user_info
        SET avator = #{avator}
        WHERE id = #{id}
    </update>

    <update id="updatePhoto">
        UPDATE user_info
        SET photo = #{photo}
        WHERE id = #{id}
    </update>

    <update id="updateVideo">
        UPDATE user_info
        SET video = #{video}
        WHERE id = #{id}
    </update>



</mapper>